img.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive {
    width: 50px!important;
    height: 60px!important;
}
body.page-template-default.page.page-id-33.logged-in.admin-bar.wp-embed-responsive.customize-support {
    margin: 0px;
}
.page-title img {
    height: 88px;
    margin-right: 25px;
    width: auto!important;
}
h3.margintop {
    padding-top: 12px!important;
}

.wp-block-video video {
    width: 100%;
    max-height: 607px!important;
}